.c-background {
    @include img-background
}

.titulo-uno {
    font-size: 65px;
    margin-top: 70px;
    margin-bottom: 20px;
}
  
.titulo-dos {
    font-size: 45px;
    margin-bottom: 60px;
    padding: 10px;
}