.navbar .navbar-nav .nav-link {
  font-family: "Bebas Neue", cursive;

    &:hover{
      color: rgb(244, 89, 3);
    }
}

.btn-p {
  font-family: "Bebas Neue", cursive;
  transition: all 1s ease;

  &:hover {
    color: $light;
    transform: scale(1.1);
  }
}

.b-bg {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f07a19 100%);

  .header-box {
    height: 100%;

    .banner-left {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      .img-left {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.container-img {
  overflow: hidden;

  &:hover .container-text{
      opacity: 1;
  }

  .img-card {
      transition: transform 0.25s;

      &:hover {
          transform: scale (1.1);
          filter: brightness(0.1);
      }
  }

  .container-text {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      pointer-events: none;
  }
}

.icon-bg {
  background-color: rgba(244, 89, 3, 0.3);
  border-radius: 1em;
}

// animacion botón //

.btn-information{
  animation-name: wobble;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes wobble {
  0% {
    transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    transform: none;
  }
}