.navbar .navbar-nav .nav-link {
    font-family: "Bebas Neue", cursive;

    &:hover{
      color: rgb(244, 89, 3);
    }
  }

.btn-p {
    font-family: "Bebas Neue", cursive;
    transition: all 1s ease;

    &:hover{
      color: white;
      transform: scale(1.1);
    }
  }

.b-bg {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f07a19 100%);

  .header-box{
    height: 100%;

    .banner-left{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      .img-left{
        width: 100%;
        height: 100%;
      }
    }
  }
}