// colores personalizados //
$principal: rgb(244, 89, 3);
$fondo: linear-gradient(-60deg, #ff5858 0%, #f07a19 100%);
$fondo-salas: linear-gradient(-60deg, #ff5858 0%, #b35508 100%);





$dark: black;
$light: white;
$danger: rgb(244, 89, 3);
